* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url();
}
#Wrapper {
    margin: 20px;
    width: 70%;
    height: 1500px;
    padding: 10px 10px;
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
.navigator {
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    background-color: rgb(176, 219, 168);
    overflow: hidden;
}
ul {
    margin-left: 60px;
}
ul li {
    list-style: none;
    display: inline-block;
    margin: 30px;

    line-height: 10px;
    align-content: center;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 0 20px;
}

ul li a:hover {
    color: rgb(78, 145, 1);
}
.content {
    justify-content: center;
    padding: 20px;
    float: left;
}
h1 {
    text-align: center;
    margin: 10px;
    padding: auto;
    padding-top: 20px;
}
h2 {
    text-align: center;
    margin: auto;
    padding: auto;
}
img {
    width: 250px;
    height: 300px;
    display: flex;
    gap: 10px;
    float: right;
    border-radius: 10%;
}
dd {
    margin: 10px;
    padding: 10px;
}
/* div{
    display: inline-block;
    gap: 20px;
}
 */
.Ingridienser {
    text-align: center;
    margin: 20px;
    float: left;
    display: block;
    padding: 50px;
}
.Instrictioner {
    text-align: center;
    margin: 20px;
    float: left;
    display: block;
    padding: 50px;
}

p {
    float: left;
    margin: 10px;
    padding: 10px;
}
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
